{% extends 'base.html' %}

{% block content %}
<table class="table">
    <tbody>
        {% for things in all_items %}
        <tr>
            {% if things.completed %}
            <td><s>{{ things.item }}</s></td>
            <td><center>
                <a href="{% url 'unstrike' things.id %}">Unstrike</a>
            </center></td>
            {% else %}
            <td>{{ things.item }}</td>
            <td><center>
                <a href="{% url 'strike' things.id %}">Strike</a>
            </center></td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No items yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}